.vip_second{
    width: 100%;
    display: none;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 50%;
            img{
                width: 1.7rem;
            }
            .vip_one{
                font-size: 0.12rem;
            }
        }
    }
}
.vip_third{
    width: 100%;
    display: none;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 50%;
            img{
                width: 1.7rem;
            }
            .vip_one{
                font-size: 0.12rem;
            }
        }
    }
}
.vip_forth{
    width: 100%;
    display: none;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 50%;
            img{
                width: 1.7rem;
            }
            .vip_one{
                font-size: 0.12rem;
            }
        }
    }
}