*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 0.45rem;
    position: fixed;
    z-index: 999999;
    left: 0;
    right: 0;
    top: 0;
    background-color: #F23030;
    .head_top {
        height: 0.45rem;
        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 0.45rem;
            li{
                font-size: 0.16rem;
                span{
                    line-height: 0.45rem;
                    color: white;
                }
            }
            img {
                height: 0.45rem;
            }
        }
    }
}
.main_car_m{
    width: 100%;
    height: 0.73rem;
    border-bottom: 0.01rem solid red;
    border: 1px solid red;
    font-size: 0.16rem;
    position: absolute;
    top: 0.45rem;
}

